<?php

function db_connect(){

    $fmr_db_host = 'localhost';
    $fmr_db_name = 'dbname';
    $fmr_db_user = 'dbuser';
    $fmr_db_pass = 'dbpass';

    $database_connection = new PDO('mysql:host=' . $fmr_db_host . ';dbname=' . $fmr_db_name . ';charset=UTF-8', $frw_db_user,
        $fmr_db_pass , array( PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES utf8" ) );
    $database_connection->setAttribute( PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION );

    return $database_connection;
}

?>
